.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.app__body {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgba(230, 230, 230, 0.735);
}

.app__header {
    display: flex;
    justify-content: space-between;
}

.app__header button{
    background: transparent;
    color: red;
    text-decoration: underline;
}