.card-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.card-wrapper img{
    width: 70px;
}

.description-section{
    width: 100px;
}

.description-section h3{
    font-weight: 600;
    font-size: 20px;
}

.description-section p{
    margin-top: 3px;
    color: rgb(53, 53, 53);
    font-size: 10px;
}

.cube {
    margin-top: 6px;
    border: 1px solid green;
    width: 17px;
}

.circle {
    margin: 0 auto;
    margin-bottom: 2px;
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.counter-section {
    display: flex;
    gap: 10px;
}

.counter-section span{
    width: 20px;
    text-align: center;
}

.price-section {
    text-align: right;
}

.price-section p{
    font-weight: 600;
    font-size: 18px;
}

.save {
    font-size: 10px;
    color: rgb(0, 102, 255);
    text-decoration: underline;
}

.remove {
    background-color: transparent;
    font-size: 10px;
    color:  red;
    text-decoration: underline;
}



.total {
    margin-top: 20px;
    margin-left: auto;
    width: 310px;
    border-top: 1px solid rgb(113, 112, 112);
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.total__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.total__block {
    display: flex;
    align-items: center;
    gap: 40px;
}

.total__block div h3{
    font-weight: 600;
}

.total__block div p{
    font-size: 10px;
    color: rgb(53, 53, 53);
}

.total__price{
    font-size: 23px;
    font-weight: 600;
}